@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .clip-diagonal-right {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  .clip-diagonal-left {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
  }
}
